/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

# Custom
.php_cs.cache
.phpunit.result.cache
.phpunit-watcher-cache.php

# Mac OS X hidden files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Vim swap files
.*.sw?

# PhpStorm
.idea

# vs code
.vscode

# Sublime Text
*.sublime-project
