/node_modules
/public/storage
/public/hot
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
.env
/.homestead/phpmyadmin/*
!/.homestead/phpmyadmin/.placeholder
!/.homestead/phpmyadmin/config.inc.php
