ip: 192.168.10.10
memory: 2048
cpus: 2
provider: virtualbox
name: project-homestead
hostname: project-homestead

authorize: ~/.ssh/id_rsa.pub

keys:
    - ~/.ssh/id_rsa

folders:
    - map: '~/Documents/GitHub/project'
      to: /home/vagrant/code

sites:
    - map: project.local
      to: /home/vagrant/code/public
      schedule: true
    - map: pma.project.local
      to: /home/vagrant/phpmyadmin

databases:
    - homestead

# variables:
#     - key: COMPOSER_AUTH
#       value: '{"github-oauth": {"github.com": "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"}}'

features:
    - webdriver: true
